.info-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 75px;
	width: 100%;
	padding-inline: 5%;
}

.info-bar a {
	position: absolute;
	left: 5%;
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
}

.info-bar .online-icon > img {
	display: none;
}

.info-bar h3 {
	color: var(--pure-black);
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
}

@media (min-width: 640px) {
	.info-bar {
		justify-content: space-between;
	}

	.info-bar a {
		position: relative;
		left: 0;
	}

	.info-bar .online-icon > img {
		display: inline-block;
		height: 10px;
		width: 10px;
	}
}
